<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.house.mapper.HouseMapper">
  <resultMap id="BaseResultMap" type="com.zlk.group4.house.entity.House">
    <!--@mbg.generated-->
    <!--@Table house-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="metro_id" jdbcType="INTEGER" property="metroId" />
    <result column="estate" jdbcType="VARCHAR" property="estate" />
    <result column="listings_type" jdbcType="VARCHAR" property="listingsType" />
    <result column="rental_mode" jdbcType="VARCHAR" property="rentalMode" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="rent" jdbcType="DECIMAL" property="rent" />
    <result column="house_introduction" jdbcType="VARCHAR" property="houseIntroduction" />
    <result column="checkin_time" jdbcType="DATE" property="checkinTime" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="call" jdbcType="VARCHAR" property="call" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <association property="metro" javaType="com.zlk.group4.house.entity.Metro">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="metro_line" jdbcType="VARCHAR" property="metroLine" />
          <result column="station" jdbcType="VARCHAR" property="station" />
      </association>
      <association property="region" javaType="com.zlk.group4.house.entity.Region">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="distrct_name" jdbcType="VARCHAR" property="distrctName" />
          <result column="street" jdbcType="VARCHAR" property="street" />
      </association>
      <association property="houseRefLabel" javaType="com.zlk.group4.house.entity.HouseRefLabel">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="house_id" jdbcType="INTEGER" property="houseId" />
          <result column="house_label_id" jdbcType="INTEGER" property="houseLabelId" />
      </association>
      <association property="houseRefDeploy" javaType="com.zlk.group4.house.entity.HouseRefDeploy">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="house_id" jdbcType="INTEGER" property="houseId" />
          <result column="house_deploy_id" jdbcType="INTEGER" property="houseDeployId" />
      </association>
      <!--<association property="houseRefImgs" javaType="java.util.List">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="house_id" jdbcType="INTEGER" property="houseId" />
          <result column="house_img_id" jdbcType="INTEGER" property="houseImgId" />
      </association>-->
      <association property="houseRefUser" javaType="com.zlk.group4.house.entity.HouseRefUser">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="user_id" jdbcType="INTEGER" property="userId" />
          <result column="house_id" jdbcType="INTEGER" property="houseId" />
      </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, house_type, region_id, metro_id, estate, listings_type, rental_mode, room_type,
    rent, house_introduction, checkin_time, sex, `call`, tel, code, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.House" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house (house_type, region_id, metro_id, 
      estate, listings_type, rental_mode,
      room_type, rent, house_introduction,
      checkin_time, sex, `call`,
      tel, code, create_time,
      update_time)
    values (#{houseType,jdbcType=VARCHAR}, #{regionId,jdbcType=INTEGER}, #{metroId,jdbcType=INTEGER}, 
      #{estate,jdbcType=VARCHAR}, #{listingsType,jdbcType=VARCHAR}, #{rentalMode,jdbcType=VARCHAR},
      #{roomType,jdbcType=VARCHAR}, #{rent,jdbcType=DECIMAL}, #{houseIntroduction,jdbcType=VARCHAR},
      #{checkinTime,jdbcType=DATE}, #{sex,jdbcType=INTEGER}, #{call,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.House" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseType != null and houseType != ''">
        house_type,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="metroId != null">
        metro_id,
      </if>
      <if test="estate != null and estate != ''">
        estate,
      </if>
      <if test="listingsType != null and listingsType != ''">
        listings_type,
      </if>
      <if test="rentalMode != null and rentalMode != ''">
        rental_mode,
      </if>
      <if test="roomType != null and roomType != ''">
        room_type,
      </if>
      <if test="rent != null">
        rent,
      </if>
      <if test="houseIntroduction != null and houseIntroduction != ''">
        house_introduction,
      </if>
      <if test="checkinTime != null">
        checkin_time,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="call != null and call != ''">
        `call`,
      </if>
      <if test="tel != null and tel != ''">
        tel,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseType != null and houseType != ''">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="metroId != null">
        #{metroId,jdbcType=INTEGER},
      </if>
      <if test="estate != null and estate != ''">
        #{estate,jdbcType=VARCHAR},
      </if>
      <if test="listingsType != null and listingsType != ''">
        #{listingsType,jdbcType=VARCHAR},
      </if>
      <if test="rentalMode != null and rentalMode != ''">
        #{rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null and roomType != ''">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="rent != null">
        #{rent,jdbcType=DECIMAL},
      </if>
      <if test="houseIntroduction != null and houseIntroduction != ''">
        #{houseIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="checkinTime != null">
        #{checkinTime,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="call != null and call != ''">
        #{call,jdbcType=VARCHAR},
      </if>
      <if test="tel != null and tel != ''">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.group4.house.entity.House">
    <!--@mbg.generated-->
    update house
    <set>
      <if test="houseType != null and houseType != ''">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="metroId != null">
        metro_id = #{metroId,jdbcType=INTEGER},
      </if>
      <if test="estate != null and estate != ''">
        estate = #{estate,jdbcType=VARCHAR},
      </if>
      <if test="listingsType != null and listingsType != ''">
        listings_type = #{listingsType,jdbcType=VARCHAR},
      </if>
      <if test="rentalMode != null and rentalMode != ''">
        rental_mode = #{rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null and roomType != ''">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="rent != null">
        rent = #{rent,jdbcType=DECIMAL},
      </if>
      <if test="houseIntroduction != null and houseIntroduction != ''">
        house_introduction = #{houseIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="checkinTime != null">
        checkin_time = #{checkinTime,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="call != null and call != ''">
        `call` = #{call,jdbcType=VARCHAR},
      </if>
      <if test="tel != null and tel != ''">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.group4.house.entity.House">
    <!--@mbg.generated-->
    update house
    set house_type = #{houseType,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=INTEGER},
      metro_id = #{metroId,jdbcType=INTEGER},
      estate = #{estate,jdbcType=VARCHAR},
      listings_type = #{listingsType,jdbcType=VARCHAR},
      rental_mode = #{rentalMode,jdbcType=VARCHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
      rent = #{rent,jdbcType=DECIMAL},
      house_introduction = #{houseIntroduction,jdbcType=VARCHAR},
      checkin_time = #{checkinTime,jdbcType=DATE},
      sex = #{sex,jdbcType=INTEGER},
      `call` = #{call,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="adminManageHouse" resultMap="BaseResultMap">
    select house.*,region.*,metro.*
    from house,metro,region,house_ref_user,house_ref_label,house_ref_deploy
    where house.region_id = region.id and house.metro_id = metro.id and house_ref_user.house_id = house.id and house_ref_label.house_id = house.id and house_ref_deploy.house_id = house.id
    limit #{startIndex},#{pageSize}
  </select>
  <select id="adminFindHouse" resultMap="BaseResultMap">
    select house.*,region.*,metro.*
    from house,metro,region,house_ref_user,house_ref_label,house_ref_deploy
    where house.region_id = region.id and house.metro_id = metro.id and house_ref_user.house_id = house.id and house_ref_label.house_id = house.id and house_ref_deploy.house_id = house.id
    <choose>
    <when test="region!=null and region !=''">
      and region.distrct_name=#{region}
    </when>
    <when test="metro!=null and metro !=''">
      and metro.metro_line=#{metro}
    </when>
    <when test="rent!=null and rent !=''">
      and house.rent between #{rent}-500 and #{rent}+500
    </when>
    <when test="houseType!=null and houseType !=''">
      and house.house_type = #{houseType}
    </when>
    <when test="rentalModel!=null and rentalModel !=''">
      and house.rental_mode = #{rentalModel}
    </when>
    </choose>
  </select>
  <select id="findHouseCount" resultType="java.lang.Integer">
    select count(*) from house
  </select>
  <delete id="adminDeleteHouseById">
    delete from house where id=#{id}
  </delete>
  <delete id="deleteRefUserById">
    delete from house_ref_user where house_id=#{id}
  </delete>
  <delete id="deleteRefLabelById">
    delete from house_ref_label where house_id=#{id}
  </delete>
  <delete id="deleteRefDeployById">
    delete from house_ref_deploy where house_id=#{id}
  </delete>
  <delete id="adminDeleteHouseByIds" parameterType="com.zlk.group4.house.entity.HouseIdParam">
    delete from house
    <where>
      <if test="ids!=null">
        <foreach collection="ids" item="id" open="id in (" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
  </delete>
  <delete id="deleteRefUserByIds" parameterType="com.zlk.group4.house.entity.HouseIdParam">
    delete from house_ref_user
    <where>
      <if test="ids!=null">
        <foreach collection="ids" item="id" open="house_id in (" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
  </delete>
  <delete id="deleteRefLabelByIds" parameterType="com.zlk.group4.house.entity.HouseIdParam">
    delete from house_ref_label
    <where>
      <if test="ids!=null">
        <foreach collection="ids" item="id" open="house_id in (" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
  </delete>
  <delete id="deleteRefDeployByIds" parameterType="com.zlk.group4.house.entity.HouseIdParam">
    delete from house_ref_deploy
    <where>
      <if test="ids!=null">
        <foreach collection="ids" item="id" open="house_id in (" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
  </delete>
  <update id="adminUpdateHouseById" parameterType="com.zlk.group4.house.entity.House">
    update house
    <set>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="metroId != null">
        metro_id = #{metroId,jdbcType=INTEGER},
      </if>
      <if test="estate != null">
        estate = #{estate,jdbcType=VARCHAR},
      </if>
      <if test="listingsType != null">
        listings_type = #{listingsType,jdbcType=VARCHAR},
      </if>
      <if test="rentalMode != null ">
        rental_mode = #{rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="rent != null">
        rent = #{rent,jdbcType=DECIMAL},
      </if>
      <if test="houseIntroduction != null">
        house_introduction = #{houseIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="checkinTime != null">
        checkin_time = #{checkinTime,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="call != null ">
        `call` = #{call,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="wxSelectHouse" resultMap="BaseResultMap">
    select house.*,region.*,metro.*
    from house,metro,region,house_ref_label,house_label
    where house.region_id = region.id and house.metro_id = metro.id  and house_ref_label.house_id = house.id and house_ref_label.house_label_id = house_label.id
    <if test="estate != null and estate != ''">
      and house.estate =#{estate}
    </if>
    <if test="rent1 != null and rent2 != null">
      and house.rent between #{rent1} and #{rent2}
    </if>
    <if test="area != null">
      and region.distrct_name = #{area}
    </if>
    <if test="street != null">
      and region.street = #{street}
    </if>
    <if test="line != null">
      and metro.metro_line = #{line}
    </if>
    <if test="station != null">
      and metro.station = #{station}
    </if>
    <if test="rentalModel != null">
      and house.rental_mode = #{rentalModel}
    </if>
    <if test="houseType != null">
      and house.house_type = #{houseType}
    </if>
    <if test="sex != null">
      and house.sex = #{sex}
    </if>
    <if test="shortRent != null">
      and house_label.short_rent = #{shortRent}
    </if>
    <if test="payment != null">
      and house_label.payment = #{payment}
    </if>
    <if test="southward != null">
      and house_label.southward = #{southward}
    </if>
    <if test="agencyfee != null">
      and house_label.agencyfee = #{agencyfee}
    </if>
    <if test="toilet != null">
      and house_label.toilet = #{toilet}
    </if>
    <if test="balcony != null">
      and house_label.balcony = #{balcony}
    </if>
    <if test="elevator != null">
      and house_label.elevator = #{elevator}
    </if>
    <if test="bayWindow != null">
      and house_label.bay_window = #{bayWindow}
    </if>
    <if test="decoration != null">
      and house_label.decoration = #{decoration}
    </if>
    <if test="yishi != null or ershi != null or sanshi != null or sishi != null or wushi != null">
      and
      <trim prefix="(" suffix=")" suffixOverrides=" or">
        <if test="yishi !=null">
          house.listings_type like #{yishi}"%" or
        </if>
        <if test="ershi !=null">
          house.listings_type like #{ershi}"%" or
        </if>
        <if test="sanshi !=null">
          house.listings_type like #{sanshi}"%" or
        </if>
        <if test="sishi !=null">
          house.listings_type like #{sishi}"%" or
        </if>
        <if test="wushi !=null">
          house.listings_type like #{wushi}"%" or
        </if>
      </trim>
    </if>
    <if test="sort != null">
      ORDER BY house.rent ${sort}
    </if>
    limit #{startIndex},#{pageSize}
  </select>
<!--auto generated by MybatisCodeHelper on 2020-09-23-->
  <select id="selectAll" resultMap="BaseResultMap">
      SELECT
              h.id,
              h.house_type,
              h.estate,
              h.listings_type,
              h.rental_mode,
              h.room_type,
              h.rent,
              h.house_introduction,
              h.checkin_time,
              h.sex,
              h.`call`,
              h.tel,
              m.metro_line,
              m.station,
              r.distrct_name,
              r.street
      FROM
              house AS h
      INNER JOIN
              region AS r
      ON
              h.region_id = r.id
      INNER JOIN
              metro AS m
      ON
              h.metro_id = m.id
    </select>
  <select id="selectAllById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT
              h.*,
              m.*,
              r.*
      FROM
              house AS h
      INNER JOIN
              metro AS m
      ON
              h.metro_id = m.id
      INNER JOIN
              region AS r
      ON
              h.region_id = r.id
      WHERE
              h.id = #{id}
  </select>
</mapper>