<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.house.mapper.HouseRefLabelMapper">
  <resultMap id="BaseResultMap" type="com.zlk.group4.house.entity.HouseRefLabel">
    <!--@mbg.generated-->
    <!--@Table house_ref_label-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="house_label_id" jdbcType="INTEGER" property="houseLabelId" />
      <association property="houseLabel" javaType="com.zlk.group4.house.entity.HouseLabel">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="short_rent" jdbcType="INTEGER" property="shortRent" />
          <result column="payment" jdbcType="INTEGER" property="payment" />
          <result column="southward" jdbcType="INTEGER" property="southward" />
          <result column="agencyfee" jdbcType="INTEGER" property="agencyfee" />
          <result column="toilet" jdbcType="INTEGER" property="toilet" />
          <result column="balcony" jdbcType="INTEGER" property="balcony" />
          <result column="elevator" jdbcType="INTEGER" property="elevator" />
          <result column="bay_window" jdbcType="INTEGER" property="bayWindow" />
          <result column="decoration" jdbcType="INTEGER" property="decoration" />
      </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, house_id, house_label_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from house_ref_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from house_ref_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.HouseRefLabel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house_ref_label (house_id, house_label_id)
    values (#{houseId,jdbcType=INTEGER}, #{houseLabelId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.HouseRefLabel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house_ref_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        house_id,
      </if>
      <if test="houseLabelId != null">
        house_label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseLabelId != null">
        #{houseLabelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.group4.house.entity.HouseRefLabel">
    <!--@mbg.generated-->
    update house_ref_label
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseLabelId != null">
        house_label_id = #{houseLabelId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.group4.house.entity.HouseRefLabel">
    <!--@mbg.generated-->
    update house_ref_label
    set house_id = #{houseId,jdbcType=INTEGER},
      house_label_id = #{houseLabelId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectLabelByHouseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT
              hrl.house_id,hrl.house_label_id,
              hl.*
      FROM
              house AS h
      INNER JOIN
              house_ref_label AS hrl
      ON
              h.id = hrl.house_id
      INNER JOIN
              house_label AS hl
      ON
              hrl.house_label_id = hl.id
      WHERE
              h.id = #{id}
  </select>
  <select id="findHouseLabelIdByHouseId" parameterType="_integer" resultType="_integer">
      SELECT
              house_ref_label.house_label_id
      FROM
              house_ref_label
      WHERE
              house_ref_label.house_id = #{id}
  </select>
</mapper>