<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.house.mapper.MetroMapper">
  <resultMap id="BaseResultMap" type="com.zlk.group4.house.entity.Metro">
    <!--@mbg.generated-->
    <!--@Table metro-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="metro_line" jdbcType="VARCHAR" property="metroLine" />
    <result column="station" jdbcType="VARCHAR" property="station" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, metro_line, station
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from metro
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from metro
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.Metro" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into metro (metro_line, station)
    values (#{metroLine,jdbcType=VARCHAR}, #{station,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.Metro" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into metro
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="metroLine != null and metroLine != ''">
        metro_line,
      </if>
      <if test="station != null and station != ''">
        station,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="metroLine != null and metroLine != ''">
        #{metroLine,jdbcType=VARCHAR},
      </if>
      <if test="station != null and station != ''">
        #{station,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.group4.house.entity.Metro">
    <!--@mbg.generated-->
    update metro
    <set>
      <if test="metroLine != null and metroLine != ''">
        metro_line = #{metroLine,jdbcType=VARCHAR},
      </if>
      <if test="station != null and station != ''">
        station = #{station,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.group4.house.entity.Metro">
    <!--@mbg.generated-->
    update metro
    set metro_line = #{metroLine,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="adminUpdateMetro" parameterType="com.zlk.group4.house.entity.Metro">
    <!--@mbg.generated-->
    update metro
    <set>
      <if test="metroLine != null">
        metro_line = #{metroLine,jdbcType=VARCHAR},
      </if>
      <if test="station != null">
        station = #{station,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>