<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.house.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="com.zlk.group4.house.entity.Region">
    <!--@mbg.generated-->
    <!--@Table region-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="distrct_name" jdbcType="VARCHAR" property="distrctName" />
    <result column="street" jdbcType="VARCHAR" property="street" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, distrct_name, street
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.Region" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into region (distrct_name, street)
    values (#{distrctName,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.house.entity.Region" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="distrctName != null and distrctName != ''">
        distrct_name,
      </if>
      <if test="street != null and street != ''">
        street,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="distrctName != null and distrctName != ''">
        #{distrctName,jdbcType=VARCHAR},
      </if>
      <if test="street != null and street != ''">
        #{street,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.group4.house.entity.Region">
    <!--@mbg.generated-->
    update region
    <set>
      <if test="distrctName != null and distrctName != ''">
        distrct_name = #{distrctName,jdbcType=VARCHAR},
      </if>
      <if test="street != null and street != ''">
        street = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.group4.house.entity.Region">
    <!--@mbg.generated-->
    update region
    set distrct_name = #{distrctName,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="adminUpdateRegion" parameterType="com.zlk.group4.house.entity.Region">
    <!--@mbg.generated-->
    update region
    <set>
      <if test="distrctName != null">
        distrct_name = #{distrctName,jdbcType=VARCHAR},
      </if>
      <if test="street != null ">
        street = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>