<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.mapper.UserMapper">
    <select id="selectUserLogin" resultType="java.lang.Integer">
        select count(id)
        from user
        where user_name=#{userName} and user_password=#{userPassword}
    </select>
    <select id="findUserRole" resultType="java.lang.Integer">
        select user_roleid
        from user
        where user_name=#{userName} and user_password=#{userPassword}
    </select>
    <select id="selectUserByName" resultType="java.lang.Integer">
        select count(user_name) from user where user_name = #{userName}
    </select>
    <insert id="saveUser" parameterType="com.zlk.group4.entity.User">
        insert into user(user_name,user_password)
        values (#{userName},#{userPassword})
    </insert>
</mapper>