<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.group4.report.mapper.ReportMapper">
    <resultMap id="reportEntity" type="com.zlk.group4.report.entity.Report">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="reportUserId" column="report_userid" javaType="java.lang.Integer"></result>
        <result property="reportHouseId" column="report_houseid" javaType="java.lang.Integer"></result>
        <result property="reportReason" column="report_reason" javaType="java.lang.String"></result>
        <result property="reportDetails" column="report_details" javaType="java.lang.String"></result>
        <result property="reportStatus" column="report_status" javaType="java.lang.Integer"></result>
        <association property="house" javaType="com.zlk.group4.house.entity.House">
            <id property="id" column="id" javaType="java.lang.Integer"></id>
            <result property="call" column="call" javaType="java.lang.String"></result>
            <result property="tel" column="tel" javaType="java.lang.String"></result>
        </association>
        <association property="user" javaType="com.zlk.group4.entity.User">
            <id property="id" column="id" javaType="java.lang.Integer"></id>
            <result property="userName" column="user_name" javaType="java.lang.String"></result>
            <result property="tel" column="tel" javaType="java.lang.String"></result>
        </association>
    </resultMap>
    <select id="findAllReport" resultMap="reportEntity">
         SELECT report.*,house.call,house.tel,user.user_name,user.tel FROM report,house,user WHERE report.report_userid = user.id AND report.report_houseid = house.id LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="findReportCount" resultType="java.lang.Integer">
         select count(*) from report
    </select>
    <update id="updateReport" parameterType="java.lang.Integer">
        update report set report_status = 1 where id = #{id}
    </update>
    <select id="selectReportByUser"  resultMap="reportEntity">
        SELECT report.*,house.call,house.tel,user.user_name,user.tel FROM report,house,user WHERE report.report_userid = user.id AND report.report_houseid = house.id and user.user_name = #{data}
    </select>
    <select id="selectReportByHouse"  resultMap="reportEntity">
        SELECT report.*,house.call,house.tel,user.user_name,user.tel FROM report,house,user WHERE report.report_userid = user.id AND report.report_houseid = house.id and house.call = #{data}
    </select>
    <insert id="insertReport" keyColumn="id" keyProperty="id" parameterType="com.zlk.group4.report.entity.Report" useGeneratedKeys="true">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportUserId != null">
                report_userid,
            </if>
            <if test="reportHouseId != null">
                report_houseid,
            </if>
            <if test="reportReason != null">
                report_reason,
            </if>
            <if test="reportDetails != null">
                report_details,
            </if>
            <if test="reportStatus != null">
                report_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportUserId != null">
                #{reportUserId},
            </if>
            <if test="reportHouseId != null">
                #{reportHouseId},
            </if>
            <if test="reportReason != null">
                #{reportReason},
            </if>
            <if test="reportDetails != null">
                #{reportDetails},
            </if>
            <if test="reportStatus != null">
                #{reportStatus},
            </if>
        </trim>
    </insert>

</mapper>